/* 横幅广告 */
.slideshow-container {
    position: relative;
    width: 60%;
    margin: 20px auto;
    aspect-ratio: 16 / 9;
    /* 保持图片比例 */
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: none;
    width: 100%;
    height: 100%;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dot-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: #717171;
}

/* 通用样式 */
* {
    padding: 0px;
    margin: 0px;
    font-family: "微软雅黑", Verdana, Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    border: 0px;
}

.container {
    width: 100%;
    max-width: 1260px;
    min-width: 260px;
    margin: 0 auto;
}

@media screen and (min-width: 420px) {
    .container {
        width: 80%;
    }
}

/* 整体布局 */
#content-wrapper {
    display: flex;
    flex-flow: row wrap;
}

main {
    flex: 2;
    margin: 0.5rem;
    min-width: 260px;
}

aside {
    flex: 1;
    margin: 0.5rem;
    min-width: 260px;
}

/* 局部布局 */

.recommend-book .content,
#new .content,
#sales .content {
    display: flex;
    flex-flow: row wrap;
}

.recommend-book .content .cover {
    flex: 1;
    min-width: 260px;
}

.recommend-book .content .description {
    flex: 2;
    margin-right: 1rem;
}

.book {
    flex: 1;
    min-width: 260px;
    margin: 0.5rem;
}

.effect-1 {
    display: flex;
    flex-flow: column;
}

#classify-partner {
    display: flex;
}

#classify {
    flex: 1;
}

#partner {
    flex: 1;
}

.effect-1 .image-box,
.cart-more {
    display: flex;
    justify-content: center;
}

#copyright {
    height: 90px;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

@media screen and (min-width: 640px) {
    #copyright {
        display: flex;
    }
}

.recommend-book {
    border-bottom: hsl(0, 0%, 80%) solid 1px;
    padding-bottom: 1rem;
}

#recommend,
#new,
#sales,
#best-selling,
#classify-partner,
#about,
#advert {
    border-bottom: hsl(0, 0%, 80%) dashed 1px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}




/* 文本 */
h2 {
    font-size: 1.2rem;
    font-weight: normal;
    color: hsl(20, 50%, 30%);
}

h3 {
    font-size: 1.1rem;
    font-weight: normal;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    color: hsl(20, 50%, 30%);
}

.recommend-book h3 {
    font-weight: bolder;
}

p,
a,
span {
    font-size: 1rem;
}

p {
    text-indent: 2rem;
    text-align: justify;
}

ul {
    list-style-type: none;
}

mark {
    background-color: hsl(20, 30%, 50%);
    color: hsl(0, 0%, 100%);
}

/* 背景 */
header {
    /* 原书的固定高度会导致布局错位 */
    /* height: 150px; */
    height: auto;
    background-image: url("images/header.png");
    position: relative;
}

#search {
    display: block;
    width: 100%;
    padding: 10px 0;
    height: 80px;
}

#nav {
    background-image: url("images/navbg.jpg");
}

#footer-wrapper {
    background-image: url("images/navbg.jpg");
}

/* 栏目标题图标 */

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.woff');
    src: url('fonts/fontawesome-webfont.eot'), url('fonts/fontawesome-webfont.woff2'), url('fonts/fontawesome-webfont.ttf'), url('../fonts/fontawesome-webfont.svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon"] {
    font-family: FontAwesome;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    float: left;
    margin-right: 0.5rem;
    font-weight: normal;
    color: hsl(20, 50%, 30%);
}

.icon-book:before {
    content: "\f02d";
}

.icon-new:before {
    content: "\f044";
}

.icon-sale:before {
    content: "\f295";
}

.icon-sell:before {
    content: "\f073";
}

.icon-classify:before {
    content: "\f022";
}

.icon-partner:before {
    content: "\f2b5";
}

.icon-about:before {
    content: "\f143";
}

.icon-contact:before {
    content: "\f199";
}

/* 其他 */
#logo {
    position: absolute;
    top: 30px;
    left: 75px;
}

logo a {
    font-size: 1.2rem;
    counter-reset: hsl(20, 50%, 30%);
    text-decoration: none;
}

logo a h1 {
    font-weight: normal;
}

#advert img {
    min-width: 260px;
}

#about img {
    max-width: 120px;
    margin-bottom: 1rem;
}

#about .content {
    margin-top: 1rem;
}